{% extends 'adminlte/base.html' %}

{% block title %}Album Eliminatorias Mundial{% endblock %}
{% block bodyclass %} skin-red {% endblock %}
{% block content %}
    <div class="container">
        {% block section %}
        {% endblock section %}
    </div>
    <div class="container">
        {% block maincontent %}
        {% endblock maincontent %}
    </div>
  
{% endblock %}
